/**
 * Animation Keyframes
 */

@keyframes hideAnimation {
  from {
    opacity: 1;
  }
  to {
    position: absolute;
    top: -99999px;
    right: -9999px;
    opacity: 0;
  }
}


@keyframes blinking {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0.25;
    }
}
